* {
    transition: all 0.2s ease-in-out;
    font-family: 'Montserrat';
}

h1 {
    font-family: 'STIX Two Text';
    font-weight: 500;
    font-size: 55px;
    line-height: 135%;
    letter-spacing: 0%;
}

h2 {
    font-family: 'STIX Two Text';
    font-weight: 400;
    font-size: 38px;
    line-height: 135%;
    letter-spacing: 0%;
}

h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0%;
    vertical-align: middle;
}

h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0%;
    vertical-align: middle;
}

h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    vertical-align: middle;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #8A8A8A;
}

.subtitle {
    margin-top: 16px;
    margin-bottom: 50px;
}

a {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}


button {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    padding: 5px 13px;
    border-radius: 100%;
    color: #DA4533;
    border: 1px solid #DA4533;
    width: fit-content;
    height: fit-content;
}

button:hover {
    transform: scale(1.1);
    background-color: #DA4533;
    color: #fff;
}

.btn-big {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    padding: 20px 24px;
    border-radius: 100%;
    background-color: #DA4533;
    color: #fff;
}

div, ul, header, nav, section, main {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1248px;
    width: 100%;
    margin: 0 auto;
    padding: 160px 0;
}

main {
    padding-top: 70px;
    overflow-x: hidden;
}



header {
    position: fixed;
    width: 100%;
    background-color: #1B1B1B;
    height: 70px;
    z-index: 10;
}

.header-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.header-number a {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.header-number a span {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #DA4533;
    margin-left: 20px;
}

.header-list ul {
    flex-direction: row;
    gap: 30px;
}

.header-burger {
    width: 46px;
    height: 46px;
    border-radius: 5px;
    background-color: #FFFFFF0D;
    justify-content: center;
    align-items: center;
    display: none;
}

.header-burger:hover {
    background-color: #ffffff18;
    cursor: pointer;
    transform: scale(1.05);
}



.first {
    background-image: url(../img/backgroud_black.png);
    background-position: center;
    background-size: cover;
    color: #fff;
}

.first-container {
    flex-direction: row;
    padding: 109px;
    justify-content: space-between;
}

.first-title {
    gap: 16px;
}

.first-title-buttons {
    flex-direction: row;
    gap: 36px;
    align-items: center;
}

.first-container img {
    max-width: 544px;
}



.adv-container {
    padding-top: 0;
    flex-direction: row;
    gap: 48px;
}

.adv-container img {
    max-width: 396px;
    height: fit-content;
}

.adv-content {
    gap: 100px;
}

.adv-card {
    padding: 20px;
    background-color: #FFFFFF0D;
    border-radius: 8px;
    width: 48%;
    min-height: 137px;
    height: auto;
}

.adv-block-cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.adv-card-logos {
    padding: 20px;
    background-color: #FFFFFF0D;
    border-radius: 8px;
    width: 48%;
    min-height: 137px;
    height: auto;
    justify-content: center;
    align-items: center;
}

.adv-card-logos svg {
    opacity: 0.4;
}

.adv-card-logos:hover {
    transform: scale(1.05);
    background-color: #ffffff18;
    cursor: pointer;
}

.adv-card-logos:hover svg {
    opacity: 1;
}



.services {
    background-image: url(../img/backgroud_grey.png);
    background-position: center;
    background-size: cover;
}

.services-sub {
    flex-direction: row;
    justify-content: space-between;
}

.services-subtitle {
    margin-top: 16px;
    margin-bottom: 50px;
    width: 707px;
}

.services-content {
    flex-direction: row;
    gap: 20px;
}

.services-card {
    min-width: 289px;
    height: 400px;
    background-color: #1B1B1B;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 20px 25px;
}

.services-card-shape {
    margin-top: 0 !important;
    margin-left: auto;
    color: #5C5C5C;
}

.services-card svg {
    margin-top: auto;
}

.services-card p {
    margin-top: auto;
    margin-right: 20px;
}

.services-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 2px 3px 16px #5C5C5C;
}

.services-card:hover p {
    color: #fff;
    font-weight: 500;
}

.services-card:hover svg {
    color: #fff;
    transform: scale(1.1)
}



.test {
    background-image: url(../img/backgroud_red.png);
    background-position: center;
    background-size: cover;
    color: #fff;
}

.test p {
    color: #fff;
    opacity: 0.75;
}

.test-content {
    padding: 40px;
    border-radius: 10px;
    background-color: #1B1B1B;
    gap: 30px;
}

.test-content-title {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.test-content-title h2 span {
    color: #DA4533;
}

.test-content-cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.test-card {
    padding: 18px 20px;
    background-color: #FFFFFF0D;
    width: 49.3%;
}

.test-card:hover {
    cursor: pointer;
    background-color: #ffffff29;
}

.test-card p {
    opacity: 1;
}

.test-card-correct {
    background-color: #DA4533;
}

.test-card-correct:hover {
    background-color: #e14f3f;
}

.test-content-buttons {
    flex-direction: row;
    justify-content: space-between;
}



.case {
    background-image: url(../img/backgroud_black.png);
    background-position: center;
    background-size: cover;
    color: #fff
}

.case-content {
    flex-direction: row;
    gap: 20px;
}

.case-card {
    min-width: 598px;
    height: 289px;
    background-color: #FFFFFF0D;
    border-radius: 8px;
    flex-direction: row;
}

.case-card-logo {
    min-width: 289px;
    height: 289px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF0D;
}

.case-card-info {
    width: 100%;
    justify-content: center;
    padding: 20px;
    gap: 5px;
}

.case-card:hover {
    transform: scale(1.05);
    background-color: #ffffff18;
    cursor: pointer;;
}



.team {
    background-image: url(../img/backgroud_grey.png);
    background-position: center;
    background-size: cover;
}

.team-content {
    flex-direction: row;
    gap: 20px;
}

.team-card {
    min-width: 289px;
}

.team-card img {
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
    filter: grayscale(1);
}

.team-card h4 {
    margin-bottom: 5px;
    margin-right: 20px;
}

.team-card:hover img {
    filter: grayscale(0);
    cursor: pointer;
}



.ban {
    background-image: url(../img/backgroud_red.png);
    background-position: center;
    background-size: cover;
    color: #fff;
}

.ban p {
    opacity: 0.75;
    color: #fff;
}

.ban-container {
    flex-direction: row;
    justify-content: space-between;
}

.ban img {
    max-width: 413px;
}

.ban button {
    background-color: #1B1B1B;
}



footer {
    background-image: url(../img/backgroud_black.png);
    background-position: center;
    background-size: cover;
    color: #fff;
}

.footer-container {
    gap: 50px;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

.footer-divider {
    height: 1px;
    background: linear-gradient(90deg, #5C5C5C 0%, rgba(92, 92, 92, 0.5) 55.16%, rgba(92, 92, 92, 0) 100.87%);
}

.footer-top {
    flex-direction: row;
    justify-content: space-between;
}

.footer-top-left {
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.footer-center {
    flex-direction: row;
    justify-content: space-between;
}

.footer-center-list {
    gap: 16px;
}

.footer-center-list ul {
    gap: 12px;
}

.footer-bottom {
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 1300px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1000px) {
    h1 {
        font-weight: 500;
        font-size: 48px;
        line-height: 135%;
        letter-spacing: 0%;
    }

    .header-burger {
        display: flex;
    }

    .header-list {
        display: none;
    }

    .first-container img {
        max-width: 414px;
        width: 100%;
        height: fit-content;
    }

    .adv-container img {
        max-width: 313px;
        width: 100%;
        height: fit-content;
    }

    .adv-card {
        width: 46%;
    }

    .adv-card-logos {
        width: 46%;
    }

    .services-card-pc {
        display: none;
    }

    .services-card {
        width: 100%;
        min-width: 1px;
    }

    .test-card {
        width: 46%;
    }

    .case-card {
        min-width: 10px;
        width: 100%;
    }

    .case-card-logo {
        min-width: 40%;
    }

    .case-card-logo svg {
        width: 80%;
    }

    .case-card-pc {
        display: none;
    }

    .team-card {
        width: 100%;
    }

    .team-card-pc {
        display: none;
    }

    .ban img {
        max-width: 327px;
        width: 100%;
        height: fit-content;
    }
}

@media (max-width: 768px) {
    h1 {
        font-weight: 500;
        font-size: 44px;
        line-height: 135%;
        letter-spacing: 0%;
    }

    h2 {
        font-weight: 400;
        font-size: 32px;
        line-height: 135%;
        letter-spacing: 0%;
        vertical-align: middle;
    }

    h4 {
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0%;
    }

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 165%;
        letter-spacing: 0%;
        vertical-align: middle;
    }

    a {
        font-weight: 400;
        font-size: 14px;
        line-height: 165%;
        letter-spacing: 0%;
        vertical-align: middle;
    }

    .container {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .adv-container img {
        display: none;
    }

    .services-card {
        height: 317px;
    }

    .case-card-768 {
        display: none;
    }

    .team-card {
        min-width: 1px;
    }

    .footer-top {
        flex-direction: column;
    }

    .footer-bottom {
        text-align: center;
    }

    .footer-center-list-786 {
        display: none;
    }

    .footer-top-right {
        margin-top: 15px;
        margin-left: 175px;
    }
}

@media (max-width: 620px) {
    .first-container img, .ban img, .header-number a {
        display: none;
    }
}

@media (max-width: 480px) {
    h2 {
        font-weight: 400;
        font-size: 28px;
        line-height: 135%;
        letter-spacing: 0%;
        vertical-align: middle;
    }

    button {
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 0%;
        vertical-align: middle;
    }

    .container {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .first-title {
        text-align: center;
    }

    .first-title-buttons {
        flex-direction: column;
    }

    .adv-card {
        width: 100%;
    }

    .adv-block-cards {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .adv-card-logos {
        width: 100%;
        height: 108px;
    }

    .services-sub button {
        display: none;
    }

    .services-card-480 {
        display: none;
    }

    .test-content-cards {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .test-card {
        width: 100%;
    }

    .test-content-title h2 {
        display: none;
    }

    .team-card-480 {
        display: none;
    }

    .ban-content {
        text-align: center;
        align-items: center;
    }

    .footer-top-left {
        flex-direction: column;
        align-items: start;
    }

    .footer-top-right {
        margin-left: 0;
    }

    .footer-center-list-480 {
        display: none;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: left;
        gap: 10px;
    }
}

@media (max-width: 360px) {
    h1 {
        font-weight: 500;
        font-size: 34px;
        line-height: 135%;
        letter-spacing: 0%;
    }

    h2 {
        font-weight: 400;
        font-size: 24px;
        line-height: 135%;
        letter-spacing: 0%;
        vertical-align: middle;
    }

    .container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .services-card-360 {
        display: none;
    }

    .case-card {
        flex-direction: column;
    }

    .team-card-360 {
        display: none;
    }}